section:nth-child(2){
	padding: 30px;
	width: 100%;
	margin-top: 30px;
}
section:nth-child(2)>p{
	text-align: center;
}
section:nth-child(2) .row{
	width: 90%;
	margin: 30px auto;
	position: relative;
}
section:nth-child(2) .row .col-3{
	margin: -10px 0 0 -30px;
	padding: 0;
	position: absolute;
	clip: rect(10px 240px 180px 30px);
	max-width: 270px;
}
section:nth-child(2) .row:nth-child(2) .col-3{
	padding: 10px 20px
}
section:nth-child(2) .row .col-9{
	padding: 30px 30px 45px;
	position: relative;
	left: 200px;
}
section:nth-child(2) .row .col-9 p:nth-child(2){
	margin: 8px 0;
}
section:nth-child(2) .row .col-9 a{
	background: #192951;
	padding: 10px 30px;
	position: relative;
	top:20px;
}